.root {
  @apply flex items-center justify-center rounded-md px-4 py-2 font-medium 
  focus:outline-none focus:ring-2;
}

.root[data-active] {
  @apply bg-green-100;
}

.loading {
  @apply cursor-not-allowed bg-gray-400;
}

.primary {
  @apply bg-green-500 text-white hover:bg-green-600 focus:ring-green-500;
}

.secondary {
}

.danger {
}

.naked {
  @apply bg-none text-black;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed bg-gray-400;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
